
body {
    background-attachment: fixed;
    background-image: url('stars.jpg');
    background-size:150%;
    background-repeat:no-repeat;
    

}
.circle {
    background-image: url('deathstar2.jpg'); 
    background-repeat:no-repeat;
    background-size:100%;
	width: 150px;
	height:149px;
	background-color: black;
	border-radius: 100%;
    position:fixed;
    left: 50%;
    top: 50%;
    border: none;

}

.score {
    width: 90px;
    height: 40px;
    font-size: 30px;
    background-color: grey;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    text-align: center
}

.start {
    width: 150px;
    height: 40px;
    font-size: 30px;
    background-color: grey;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    left: 50%;
    top: 5%;
    margin-right: 75px;
    position: fixed;
    box-shadow: 0 5px #999;
}

.start:active {
    background-color: rgb(44, 43, 43);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}


.speedPlus {
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: grey;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    left: 100px;
    top: 95px;
    position: fixed;
    text-align: center 
}

.speedMinus {
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: grey;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    left:100px;
    top: 115px;
    position: fixed;
    text-align: center
}

.pause {
    width: 150px;
    height: 40px;
    font-size: 30px;
    background-color: grey;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    left: 50%;
    top: 10%;
    margin-right: 75px;
    position: fixed;
    box-shadow: 0 5px grey;
}

.pause:active {
    background-color: rgb(44, 43, 43);
    box-shadow: 0 5px rgb(44, 43, 43)6;
    transform: translateY(2px);
}

